

body, html {
    margin: 0;
    padding:0;
    font-size: 25px;
    height: 100%;
    
    
  
}

.background-img {
    background-image: url(../image/groupPic/blackpink_the_album.webp);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-img-albumpage{
    background-image: url(../image/groupPic/blackpink-logo.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* styles for navbar */
.nav-link{
    color: black;
    font-size: 50px;

}


/* styles for singer introduction */
.spaceholder{
    height: 30%;
}
.singer-container{
    display: flex;
    justify-content: space-around;
    
}

.singerPic{
    border-radius: 50%;
    width: 350px;
    height:350px;
    overflow: hidden;
    
}



/* styles for album page */
.album-card-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;

}

.album-card{
    margin-top: 25px;
}
