

body, html {
    margin: 0;
    padding:0;
    font-size: 25px;
    height: 100%;
    
    
  
}

.background-img {
    background-image: url(../image/groupPic/blackpink_the_album.webp);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    

}

.background-img-albumpage{
    background-image: url(../image/groupPic/blackpink-logo.png);
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    transform:rotateY(30deg);
   
}

.background-img-chatpage{
    background-image: url(../image/groupPic/crown.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    min-width: 100%;
    min-height: 100%;
   
}

/* styles for navbar */
.nav-link{
    color: black;
    font-size: 35px;

}


/* styles for singer introduction */
.spaceholder{
    height: 5%;
}
.singer-container{
    display: flex;
    justify-content: space-around;
   
   
    
}

.singerPic{
    border-radius: 50%;
    width: 20vw;
    height: 30vh;
    overflow: hidden;
    object-fit: cover;
    border: solid white 1px;
    
}



/* styles for album page */
.album-card-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;

}

.album-card{
    margin-top: 25px;
}





/* styles for albumdetail page */

.cover-tracklist{
    display: flex;
    justify-content: space-around;
}

.tracklist{
    text-align: center;
    vertical-align:center;

    
}

.summary{
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.music-icon{
    width: 100px;
    height: 100px;
    
}



/* styles for chat page */

.chat-display-container{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    height: 100vh;
}

.chat-container{
    width: 40vw;
}

.display-container{
    width: 40vw;
    
}

.feedback-messages{
    /* border: solid 5px white; */
    height: 70vh;
    background-color: white;
    border-radius: 10%;
}